* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

button,
.blue-button {
    margin-top: 2.56rem;
    padding: 1.3125rem 2.5rem;
    border-radius: 3rem;
    border: none;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.blue-button {
    margin-left: 1.5rem;
    background: #4EC5F7;
}

/* nav related styles */
.nav {
    padding: 2.3rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.logo img {
    width: 5.37756rem;
    height: 2.5rem;
}

.logo h3 {
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
}

.pink {
    color: rgba(255, 66, 165, 1);
}

.nav-bars ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bars ul li {
    margin-right: 2rem;
    list-style: none;
}

.follow-us {
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
}

/* banner related styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.25rem;
    background: #FFF;
}

.banner-content h2 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-content h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;

}

/* gamer section related styles */
.gamer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5rem;
    text-align: right;

}

.gamer-content img {
    width: 50%;
}

.gamer-content h3 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0rem;
}

.purpose {
    margin-top: 1.5rem;
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
}

.unleash {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}


/* online games section related styles */
.online-games {
    margin: 7.5rem 15rem;
    background: #FFF;
}

.online-games-content h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-content p {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0;
}

.games-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.games-img img:hover {
    border-radius: 1rem;
    border: 4px solid var(--Linear, #FF42A5);
    filter: brightness(50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the overlay color and opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.play-button {
    width: 60px;
    height: 60px;
    background: url('/images/play-button\ 1.svg') no-repeat center center;
    background-size: cover;
}

.watch-now {
    color: #bd2b2b;
    font-size: 20px;
    margin-top: 10px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.games-img p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}


/* play instantly related styles */
.play-instantly {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16.5rem;
    padding: 0 7.5rem;
}

.play-instantly-content h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.play-instantly-content p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1.5rem;
}

.play-instantly-img {
    width: 100%;
}

.second-img {
    padding-bottom: 0;
    position: relative;
    top: -300px;
    left: -100px;
}

.third-img {
    position: relative;
    top: -300px;
    right: -500px;
}

/* games option related styles */
.game-options {
    margin-top: 0;
    flex-wrap: wrap;
}

.game-options p {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}

/* footer related styles */
footer {
    background: #0B0223;
    margin-top: 8rem;
    padding: 7.5rem 15rem;
    text-align: center;
}

.white {
    color: #FFF;
    font-size: 2.8125rem;
    font-weight: 700;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 4.5rem;
}

.footer-links {
    margin-top: 4.5rem;
}

.footer-links a {
    padding-top: 4rem;
    margin-right: 2.5rem;
}

.footer-cookies {
    margin-top: 4.5rem;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    gap: 3.75rem;
}


/* media query  for responsive*/
@media screen and (max-width:576px) {
    nav, .nav-bars>ul, .gamer, .games-img, .play-instantly  {
        flex-direction: column;
    }
    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }
    nav, .nav-bars ul{
        gap:3rem;
    }
    .gamer, footer, .nav-bars{
        text-align:center;
        padding: 2rem;
    }
    .online-games{
        margin: 0rem;
    }
    .game-options, .footer-content, .footer-links{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-cookies{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
